{% extends 'base.html' %}
<!-- page content Start -->
{% block content %}
	<div class="content-page">
       <div class="d-flex align-items-center justify-content-between mb-3">
           <h5>新增ECN</h5>
           <a href="{% url 'bom:ecn' %}" ><span style="float:right;"><h5>返回</h5></span></a>
       </div>
        <div>
            <form method="post" action="{% url 'bom:ecn_add' %}">
                {% csrf_token %}
                <label>变更内容：</label><textarea style="width: 300px;height: 100px" name="content"></textarea><br>
                <label>执行状态：</label><input style="width: 300px" name="state"><br>
                <label>变更原因：</label><input style="width: 300px" name="reason"><br>
                <label>创建时间：</label><input style="width: 300px" name="createtime"><br>
                <label>执行方式：</label><input style="width: 300px" name="action"><br>
                <label>发起人：</label><input style="width: 300px" name="createdby"><br><br>
                <label>关联BOM：</label><input style="width: 300px" name="bominfo"><br><br>

                <input type="submit" style="width: 120px" name="add" value="保  存">
            </form>
        </div>
    </div>
{% endblock content %}
<!-- page content end  -->