{% extends 'base.html' %}
<!-- page content Start -->
{% block content %}
	<div class="content-page">
       <div class="d-flex align-items-center justify-content-between mb-3">
           <h5>{{ category.name }}</h5>
           <a href="{% url 'bom:category' %}" ><span style="float:right;"><h5>返回</h5></span></a>
       </div>
        <div>
            <form method="post" action="{% url 'bom:category_handle' %}">
                {% csrf_token %}
                <label>类别编码：</label><input style="width: 300px" name="code" readonly value="{{ category.code }}"><br><br>
                <label>类别名称：</label><input style="width: 300px" name="name" value="{{ category.name }}"><br><br>
                <label>有效状态：</label><input style="width: 300px" name="isvalid" value="{{ category.isvalid }}"><br><br>
                <input type="submit" style="width: 120px" name="del" value="删  除">
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <input type="submit" style="width: 120px" name="modify" value="保  存">
            </form>
        </div>
    </div>
{% endblock content %}
<!-- page content end  -->